html
  head
    title Examples for learning WebGL
    link(rel="stylesheet", href="/stylesheets/styles.css")
  body
    canvas#playground(width=640, height=480)
    script(src="/examples/" + name + ".js")
