html
  head
    title Examples for learning WebGL
    link(rel="stylesheet", href="/stylesheets/styles.css")
  body
    #stats
    canvas#playground(width=400, height=400)
    script(src="/libs.js")
    script(src="/examples/" + name + ".js")
